cloud_id                 = "b2g2q2qvh2tm2aqweq1n"
folder_id                = "b2gwk2qwe2g2w02wckb2"
zone                     = "ru-central1-a"
image_id                 = "fd4lqwwiuqwe4atjtrml"
public_key_path          = "/home/you/.ssh/yc.pub"
subnet_id                = "e9bf0c6adrkb9grkhs1r"
service_account_key_file = "/home/you/YC_SerKey/key.json"
private_key_path         = "/home/you/.ssh/yc"
res_zone                 = "ru-central1-a"
count_app                = "2"
