cloud_id                  = "b1go1n"
folder_id                 = "b1ggb3"
zone                      = "ru-central1-a"
subnet_id                 = "e9bs1r"
service_account_key_file  = "key.json"
public_key_path           = ".ssh/yc.pub"
private_ssh_path          = ".ssh/yc"
count_node                = "2"
service_account_id        = "ajk8sn"
network_id                = "enfdom"